---
layout: default
title: Jim & Jacob
---

<div class="card-grid">
{% for card in site.data.cards %}
  <span class="card {{card.custom}}">
    {% if card.custom == "map" %}
      <div id="map"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqQ4o6vqfqh8qAX_xLmZIetNopnWRxA3k&callback=initMap" async defer></script>
    {% else %}
      <img src="{{ site.url }}/assets/images/{{card.image}}"></img>
      <div class="fade"></div>
      <div class="content">
        <p>{{card.description}}</p>
      </div>
      <h1>{{card.title}}</h1>
    {% endif %}
  </span>
{% endfor %}
</div>