body {
	background-color: #242424;
	font-size: 16px;
	font-family: 'Merriweather', serif;
	line-height: 1.5;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	margin: 3em 4px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	font-family: 'Roboto Mono', monospace;
	margin: 0 0 .5rem 0;
}

h1 {
	margin: 0 0 1rem 1.4rem;
}

object {
	width: 100%;
	height: 100%;
}

p {
	margin: 0.5em 0em 1em;
}

a {
	color: #a3d6ba;
	cursor: pointer;
	text-decoration: none;
}

em {
	font-style: normal;
	white-space: nowrap;
}

a:hover {
	color: #D0F4EA;
}

footer {
	text-align: center;
    font-size: .75em;
    opacity: .75;
    margin: 7em 0 4em;
    font-family: 'Roboto Mono', monospace;
}

footer p {
	margin: 0;
}


#main.loaded #logo {

}

#logo {
	margin: 2em 0;
	-webkit-animation-delay: .25s;
	   -moz-animation-delay: .25s;
	    -ms-animation-delay: .25s;
	    	animation-delay: .25s;
	-webkit-animation-duration: 2s;
	   -moz-animation-duration: 2s;
	    -ms-animation-duration: 2s;
	    	animation-duration: 2s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
	    	animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
       -moz-animation-name: fadeInDown;
        -ms-animation-name: fadeInDown;
	    	animation-name: fadeInDown;
}

#logo img {
	width: 7em;
    margin: 0 auto;
    display: block;
}

.modal-active #main {
	filter: blur(1px);
}

.modal-active #mask {
	opacity: 1;
	top: 0;
	cursor: pointer;
}

#mask {
	background: rgba(0,0,0,.5);
	position: fixed;
	text-align: center;
	top: -999em;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	opacity: 0;

	-webkit-transition: opacity .4s;
	   -moz-transition: opacity .4s;
	    -ms-transition: opacity .4s;
	     -o-transition: opacity .4s;
	    	transition: opacity .4s;
}

#mask #modal {
	text-align: left;
	display: inline-block;
	margin: 0 1em;
    max-width: 600px;
    min-height: 250px;
	position: relative;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    top: 8em;

    /*nice rosa #da9f97*/
    background-color: #868e8d;
    border: .75rem solid #fff;
    box-shadow: 0 0 2.4rem rgba(0,0,0,.25);
    padding: 1em;
}

#modal .close {
	position: absolute;
	font-size: 2em;
	font-weight: bold;
	line-height: 0.5;
	padding: 7px 6px;
	cursor: pointer;
	border-radius: 50%;
	right: -.35em;
    top: -2em;
    background: rgba(240,240,240, .15);
}

#modal img:hover {
	background: rgba(240,240,240, .3);
}

#modal h2 {
	margin: 0 0 .75em 0;
}

#modal p {
	font-size: .9em;
	margin-bottom: 1.25em;
}

#js-modal-title, #js-modal-description {
	display: none;
	visibility: hidden;
}


.card-grid {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
/*		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);*/
	}
	to {
		opacity: 1;
/*		-webkit-transform: translateY(0);
		transform: translateY(0);*/
	};
}


.card {
	overflow: hidden;
	width: 33%;
	height: 225px;
	position: relative;
	margin: 1px;
	cursor: pointer;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	    -ms-animation-duration: 1s;
	    	animation-duration: 1s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
	    	animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
       -moz-animation-name: fadeInDown;
        -ms-animation-name: fadeInDown;
	    	animation-name: fadeInDown;
}

@media screen and (max-width: 1080px) {
	.card {
		width: 49.5%;
		height: 30vw;
	}
}

@media screen and (max-width: 600px) {
	.card {
		width: 100%;
		height: 60vw;
	}

	.card h1 {
		font-size: 23px;
	}
}

span:nth-child(1) {
	animation-delay: 1.5s;
}
span:nth-child(2) {
	animation-delay: 1.7s;
}
span:nth-child(3) {
	animation-delay: 1.6s;
}
span:nth-child(4) {
	animation-delay: 1.7s;
}
span:nth-child(5) {
	animation-delay: 1.6s;
}
span:nth-child(6) {
	animation-delay: 1.5s;
}
span:nth-child(7) {
	animation-delay: 1.7s;
}
span:nth-child(8) {
	animation-delay: 1.6s;
}
span:nth-child(9) {
	animation-delay: 1.6s;
}

#map {
	height: 100%;
	cursor: default;
}

.card img {
	width: 100%;
	height: 100%;
	filter: opacity(.75);
}

.card h1 {
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	font-size: 18px;
	opacity: 1;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	text-transform: uppercase;
	z-index: 444;
	border-bottom: 1px solid transparent;
}

.card .content {
	position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    display: none;
}

.card.flipped .content {
	display: block;
	visibility: visible;
}

.card:hover h1 {
	border-bottom: 1px solid white;
	animation-duration: 1s;
	animation-name: slidein;
	animation-fill-mode: forwards;
}

.card:hover .fade {
	opacity: .2;
}

@keyframes slidein {
	to {
		left: 20px;
	}
}

.card .fade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #feffe3;
	opacity: .1;
	z-index: 333;
}
