body {
	background-color: #242424;
	font-size: 16px;
	font-family: 'Merriweather', serif;
	line-height: 1.5;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	margin: 3em 4px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	margin: 0 0 .5rem .7rem;
}

/*img {
	width: 100%;
	height: 100%;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}*/

object {
	width: 100%;
	height: 100%;
}

p {
	margin: 0.5em 0em 1em;
}

a {
	color: #79B4A9;
	text-decoration: none;
}

em {
	font-style: normal;
	white-space: nowrap;
}

a:hover {
	color: #D0F4EA;
}

footer {
	text-align: center;
    font-size: .75em;
    opacity: .75;
    margin: 7em 0 4em;
    font-family: 'Roboto Mono', monospace;
}

footer p {
	margin: 0;
}


#main.loaded #logo {
	-webkit-transition: opacity .75s;
	   -moz-transition: opacity .75s;
	    -ms-transition: opacity .75s;
	     -o-transition: opacity .75s;
			transition: opacity .75s;
	opacity: 1;
}

#logo {
	opacity: 0;
	margin: 2em 0;
}

#logo img {
	width: 7em;
    margin: 0 auto;
    display: block;
}

.modal-active #main {
	filter: blur(1px);
}

.modal-active #mask {
	opacity: 1;
	top: 0;
	cursor: pointer;
}

#mask {
	background: rgba(0,0,0,.5);
/*	overflow-y: auto;*/
	position: fixed;
	text-align: center;
	top: -999em;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	opacity: 0;

	-webkit-transition: opacity .3s;
	   -moz-transition: opacity .3s;
	    -ms-transition: opacity .3s;
	     -o-transition: opacity .3s;
	    	transition: opacity .3s;
}

#mask #modal {
	box-shadow: 0 0 2.4rem rgba(0,0,0,.25);
	border-radius: .2rem;
	text-align: left;
	display: inline-block;
	min-width: 340px;
	max-width: 600px;
	min-height: 200px;
	position: relative;
	background-color: #f0f0f0;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.2;
}

#modal .close {
	position: absolute;
	right: 0;
	top: -40px;
	font-size: 2em;
	font-weight: bold;
	line-height: 0.5;
	padding: 7px 5px;
	cursor: pointer;
	border-radius: 50%;
}

.card-grid {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	opacity: 0;

	-webkit-animation-delay: .75s;
	    	animation-delay: .75s;
	-webkit-animation-duration: 0.7s;
	    	animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
	    	animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
	    	animation-name: fadeInDown;

/*    -webkit-transition: opacity .75s ease-in .75s;
       -moz-transition: opacity .75s ease-in .75s;
        -ms-transition: opacity .75s ease-in .75s;
         -o-transition: opacity .75s ease-in .75s;
            transition: opacity .75s ease-in .75s;*/
}



#main.loaded .card-grid {
	opacity: 1;
}

.card {
	overflow: hidden;
	width: 33%;
	height: 15vw;
	position: relative;
	margin: 1px;
	cursor: pointer;
}

.card .map {
	cursor: default;
}

.card img {
	width: 110%;
	filter: opacity(.75);
}

.card h1 {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: white;
	font-size: 18px;
	opacity: 1;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	text-transform: uppercase;
	z-index: 444;
	border-bottom: 1px solid transparent;
}

.card .content {
	position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    display: none;
}
.card.flipped {
	width: 66%;
}

.card.flipped .content {
	display: block;
	visibility: visible;
}

.card:hover h1 {
	border-bottom: 1px solid white;
	animation-duration: 1s;
	animation-name: slidein;
}

@keyframes slidein {
	to {
		left: 20px;
	}
}

.card .fade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #feffe3;
	opacity: .1;
	z-index: 333;
}
