<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-site-verification" content="nJcI8R9Z8mT7lWH0ex_E4CYVBKkTQucXng26pOhmDkM" />
      <meta name="description" content="Hos oss serveras mat för att ätas. Man ska njuta. Krogen där glasen klingar och maten står i fokus. Här är det okej att göra bort sig, kanske till och med slafsa en aning. Man får spilla, äta med händerna och slicka tallriken.">
      <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
      <link href="https://fonts.googleapis.com/css?family=Merriweather:300,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:500" rel="stylesheet">
      <script src="{{ site.url }}/assets/javascript/main.js" type="text/javascript"></script>
    </head>
    <body>
      </nav>
      <div id="mask">
        <div id="modal">
          <img class="close" src="{{ site.url }}/assets/images/close.svg"></img>
          <span id="js-modal-content"></span>
        </div>
      </div>
      <div id="main">
        <header id="logo">
          <img src="{{ site.url }}/assets/images/logotyp.png"></img>
        </header>
        {{ content }}
        <footer>
          <p>Sommarstängt 8 juli - 7 augusti</p><br>
          <p>Tis-Tors 17:00-22:00</p>
          <p>Fre-Lör 17:00-23:00</p>
          <br>
          <p>08-150 115 - info@jimjacob.se</p>
          <p>Surbrunnsgatan 38, 113 48, Stockholm</p>
        </footer>
      </div>
    </body>
  </html>
